* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    overflow: hidden;
    font: 16px 'Lato', sans-serif;
    font-weight: bold;
    margin: 0 16em;
}

.front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35em;
}

.front * {
    flex-grow: 1;
    max-width: 31em;
}

.body-text {
    float: left;
}

.body-text p {
    margin: 3px 0;
}

.body-text p#header {
    font-size: 3em;
}

.body-text p#content{
    color: rgb(180, 180, 180);
    line-height: 1.5em;
}

.contact-container {
    float: right;
    margin: 10px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}