.contact-container p {
    color: gray;
    padding: 1em;
}

.contact-container form {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 2em;
}

.contact-container input, .contact-container textarea {
    font: 16px 'Lato', sans-serif;
    padding: 0.75em;
    margin: 0.75em 0;
    width: 100%;
    border: none !important;
}

.contact-container textarea {
    min-width: 100%;
    min-height: 125px;
    padding-top: 0.5em;
    resize: none;
}

.contact-container input[type=submit] {
    background-color: rgb(4, 166, 121);
    color: white;
    word-spacing: 10px;
}